{% extends 'store/base.html' %}
{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Billing Info</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Enter billing information</p>
                </div>
            </div>
        </header>

<h3>Summary: </h3>
<div style="display: flex;flex-direction: row; background-color: #343638;margin: 70px;color: white;padding: 20px;">
      
    
      <div style="display: flex;flex-direction: column;flex: 1;">
        <h5>Items</h5>
      {% for product in products %}
      <div>{{product.product.name}}
</div> 
<hr>
     {% endfor %}

      </div>
      <div style="display: flex;flex-direction: column;flex: 1;">
        <h5>Quantity</h5>
        {% for product in products %}
      <div>{{product.qty}}</div>
      <hr>
      {% endfor %}

      </div>
      <div style="display: flex;flex-direction: column;flex: 1;">
        <h5>Subtotal</h5>
        {% for product in products %}
        {% if product.product.on_sale %}
      <div>{{product.product.sale_price}} x {{ product.qty}}= ${{product.sub_total}}</div> 
      {% else %}
      <div>{{product.product.price}} x {{ product.qty}}= ${{product.sub_total}}</div> 
      {% endif %}
      <hr>
      {% endfor %}
      <hr>
      
      <h5>Total:  ${{total_price}}</h5>
<a class="btn btn-success" style="width: 100px;" href="{% url 'view_cart' %}">Update</a>

      </div>

    </div>
    
    <div style="position: relative;left: 420px; width: 450px; height: 730px;" class="bg-dark py-5">
      <div style="position: absolute; left: 60px; top: 60px; color: white;">
        <h3>Shipping information</h3>
        <br>
        <br>
       <div><h4>fullname : {{shipping_info.shipping_full_name}}</h4></div>
       <div><h4>phone : {{shipping_info.shipping_phone}}</h4></div>
       <div><h4>address1 : {{shipping_info.shipping_address1}}</h4></div>
       <div><h4>address2 : {{shipping_info.shipping_address2}}</h4></div>
       <div><h4>city : {{shipping_info.shipping_city}}</h4></div>
       <div><h4>state : {{shipping_info.shipping_state}}</h4></div>
       <div><h4>zipcode : {{shipping_info.shipping_zipcode}}</h4></div>
       <div><h4>country : {{shipping_info.shipping_country}}</h4></div>

 <br><br>

  </div>
    </div>
    {{paypal_form.render}}
   <div style="position: relative;left: 420px; width: 450px; height: 730px;" class="bg-dark py-5">
      <div style="position: absolute; left: 60px; top: 60px; color: white;">
        <form action="{% url 'generate_order' %}" method="post">
        <h3>Shipping information</h3>
        {% csrf_token %}
        {{billing_form}}
        <input type="submit" value="Pay Now">

  </div>
    </div>
  
  


<br><br><br><br>

{% include 'store/footer.html' %}
{% endblock %}

    
