{% extends 'store/base.html' %}
{% block content %}
<header class="bg-success py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Success</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your payment was successful</p>
                </div>
            </div>
        </header>
        
<br><br><br><br>
<center><h3>Thanks for Buying</h3></center>
<br><br><br><br><br><br>
{% include 'store/footer.html' %}
{% endblock %}