{% extends 'store/base.html' %}

{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Categories</h1>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-0">Select your Category:</p>
                </div>
            </div>
        </header>
        
      {% for category in categories %}
      <br>
      <h4 style="text-align: center;"><a href="{% url 'category' category.name %}">{{category}}</a></h4>
      
      {% endfor %}
      <br>
      {% include 'store/footer.html' %}
{% endblock %}
