{% extends 'store/base.html' %}
{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Update Password</h1>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-0">Update User password here</p>
                </div>
            </div>
        </header>
        
<br><br>

    <div style="position: relative;left: 420px; width: 550px; height: 400px;" class="bg-dark py-5">
      <div style="position: absolute; left: 60px; top: 60px;">
    <form method="post" action="{% url 'update_password' %}">
    {% csrf_token %}
    {{form.as_p}}
    

    <div><input type="submit" value="Update" class="bg-dark" style="color: white; border-radius: 5px;margin-top: 10px;padding-top: 5px;padding-bottom: 5px ;padding-left:10px ;padding-right:10px">
  </div>
    </form>
  </div>
    </div>
  
  
</div>

  
  <br><br><br>
  {% include 'store/footer.html' %}
{% endblock %}
